{% extends "feed/base.html" %}
{% block content %}
{% load static %}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <img class="navbar-brand" src="{% static 'social_cover.jpg'%}" width="240" height="126" alt="">
    </div>
</nav>
<p></p>
<!-- <p>This is the server ip {{ request.META.HTTP_HOST }}</p> -->
<!-- <p> only_hidden -> {{ only_hidden }}</p> -->
<ul>
    <div class="feed">
        {% for post in object_list %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}
                <div class="col-xs-3 post">
                    <div class="card">
                    <div class="card-header">
                        <img src="{{ post.user_photo }}" class="rounded" alt="User photo">
                        @{{ post.user_handle }}
                    </div>
                        {% if post.photo %}
                            <img class="card-img-top post-image" src={{ post.photo }} alt="Card image cap">
                        {% endif %}
                        <div class="card-block">
                            <p class="card-text">{{ post.content }}</p>
                            <p class="post-id" hidden> {{ post.pk }} </p>
                            <p class="card-text"><small class="text-muted">Last updated {{ post.pub_date }}</small></p>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>
{% endblock %}