.post-image
{
    width: 100%;
    height:auto;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}

.navbar {
    background-color: white;
}

body {
    background-color: #FC2E1F;
}